.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.container {
    background: #19191a;
    padding: 2rem 4rem;
}

.control-label {
    font-family: 'Heebo', sans-serif;
    width: 100%;
    display: inline-block;
    font-size: 2rem;
    color: white;
    border-bottom: .5rem solid #5a4fcf;
    margin-bottom: 1.5rem;
    padding-block: 1.5rem;
}

.controls {
    width: 100%;
    margin-block: 0.2rem;
    border-bottom: .2rem solid #5a4fcf;
    display: grid;
}

.form-control {
    padding: .5rem 1rem;
    font-size: 2rem;
    border: none;
    outline: none;
}

.btn {
    color: white;
    outline: none;
    margin-block: 1.2rem;
    padding: 1rem 2.1rem;
    border: .2rem solid #5a4fcf;
    border-radius: 1rem;
    font-size: 1.8rem;
    background: none;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.5;
    color: #5a4fcf;
    background: white;
}

.outer {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

li>a {
    text-decoration: none;
    color: #5a4fcf;
}

.level2 {
    display: none;
}

.service-link {
    text-decoration: none;
}

.servicePage {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 18.6rem);
}

.pack {
      position: relative;
      width: 49rem;
      height: 54rem;
      box-shadow: 2rem 2rem 5rem rgba(0,0,0,0.5);
      border-radius: 1.5rem;
      margin: 3rem;
      display: grid;
      justify-content: center;
      align-items: center;
      border-top: .1rem solid rgba(255,255,255,0.5);
      border-left: .1rem solid rgba(255,255,255,0.5);
      backdrop-filter: blur(.5rem);
      transform-style: preserve-3d;
      transform: perspective(80rem);
      background: #5a4fcf;
}

.servicePageContentImageWrapper {
    display: grid;
    justify-items: center;

}

h3 {
    color: #ffffff63;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

h2 {
    color: #00000063;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
}


p {
    color: #ccc;
    text-align: center;
    margin: 2rem 1rem;
    font-family: 'Fira Code', monospace;
}
